<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="card">
                <H3>
                    {{paper.title}}
                </H3>
                <p>Auteur:</p>
                <ul>
                    <li *ngFor="let auth of paper.authors | slice:0:limit2">{{auth.name}}</li>
                    <a (click)="showmore(2)"><u> {{show2}} </u></a>
                </ul>
                <p>Abstract :</p>
                <p>
                    {{paper.paperAbstract | slice:0:limit1}}
                    <a (click)="showmore(1)"><u> {{show1}} </u></a>
                </p>
                <p>
                    <a href="{{paper.s2Url}}">lien de l'article</a>
                </p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="row">
            <div class="col-md-6">
                <div class="panel-body" *ngIf="tab1">
                    <div class="card">
                        <div class="card-header">
                            <span class="icon-list icons font-2xl d-block mt-4">
                                &nbsp;
                                <h4 class="text-center">InCitation List</h4>
                            </span>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                    <th class="text-center">Titre</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let pap  of inCitations">
                                        <td>
                                            <a (click)="detail(pap.id)">{{pap.title}}</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-body" *ngIf="tab2">
                    <div class="card">
                        <div class="card-header">
                            <span class="icon-list icons font-2xl d-block mt-4">
                                &nbsp;
                                <h4 class="text-center">OutCitation List</h4>
                            </span>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                    <th class="text-center">Titre</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let pap  of outCitations">
                                        <td>
                                            <a (click)="detail(pap.id)">{{pap.title}}</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>