<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <form>
          <div class="form-group col-xs-10">
            <input class="form-control" [(ngModel)]="mot" name="mot" type="text" placeholder="Search">
          </div>
          <div class="col-xs-2">
            <button type="submit" class="btn btn-block btn-primary" (click)="search()">
              <span class="glyphicon glyphicon-search "> Search</span>
            </button>
            <button type="button" class="btn btn-block btn-primary" (click)="show=!show">
              <span class="glyphicon glyphicon-cog"></span> Advanced Search
            </button>
          </div>
        </form>
      </div>

      <div class="row" *ngIf="show">
        <div class="container col-xs-10">
          <div class="panel panel-default">
            <div class="panel-body">
              <form class="form-inline" role="form">
                <div class="form-group">
                  <label class="filter-col" style="margin-right:0;" for="pref-perpage">Rows per page:</label>
                  <select id="pref-perpage" class="form-control">
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option selected="selected" value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <option value="300">300</option>
                    <option value="400">400</option>
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                  </select>
                </div>
                <!-- form group [rows] -->
                <div class="form-group">
                  <label class="filter-col" style="margin-right:0;" for="pref-search">Years:</label>
                  <input type="text" class="form-control input-sm" id="pref-search">
                </div>
                <!-- form group [search] -->
                <div class="form-group">
                  <label class="filter-col" style="margin-right:0;" for="pref-orderby">Order by:</label>
                  <select id="pref-orderby" class="form-control">
                    <option>Descendent</option>
                  </select>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="panel panel-default col-md-6 classWithPad">
    <div class="panel-body ">
      <div class="row">
        <div class="card">
          <div class="card-header">
            <span class="icon-list icons font-2xl d-block mt-4">
              &nbsp;
              <label>Text Sim</label>
            </span>
          </div>
          <div class="card-body">
            <table class="table table-bordered table-hover">
              <thead>
                <th>Titre</th>
                <th>Score</th>
              </thead>
              <tbody>
                <tr *ngFor="let pap  of papers">
                  <td>
                    <a (click)="detail(pap.id)">{{pap.title}}</a>
                  </td>
                  <td>{{pap.score*100| number : '1.2-2'}}%</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default col-md-5 classWithPad">
    <div class="panel-body ">
      <div class="row">
        <div class="card">
          <div class="card-header">
            <span class="icon-list icons font-2xl d-block mt-4">
              &nbsp;
              <label>Incitation</label>
            </span>
          </div>
          <div class="card-body">
            <table class="table table-bordered table-hover">
              <thead>
                <th>Titre</th>
                <th>Score</th>
              </thead>
              <tbody>
                <tr *ngFor="let pap  of inCitationsTab">
                  <td>
                    <a>{{pap.title}}</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <span class="icon-list icons font-2xl d-block mt-4">
              &nbsp;
              <label>Outcitation</label>
            </span>
          </div>
          <div class="card-body">
            <table class="table table-bordered table-hover">
              <thead>
                <th>Titre</th>
                <th>Score</th>
              </thead>
              <tbody>
                <tr *ngFor="">
                  <td>
                    <a>{{pap.title}}</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>